USE [master]
GO
/****** Object:  Database [QLCTyBH]    Script Date: 5/22/2018 9:49:40 PM ******/
CREATE DATABASE [QLCTyBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCTyBH', FILENAME = N'E:\QLCTyBH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCTyBH_log', FILENAME = N'E:\QLCTyBH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCTyBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCTyBH]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MSMH] [int] NULL,
	[MSBC] [int] IDENTITY(1,1) NOT NULL,
	[NgayThangNam] [date] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_BaoCao] PRIMARY KEY CLUSTERED 
(
	[MSBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieuGH]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuGH](
	[SOPG] [int] IDENTITY(1,1) NOT NULL,
	[MSMH] [int]  NOT NULL,
	[SoLuongGiao] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_CTPhieuGH_1] PRIMARY KEY CLUSTERED 
(
	[SOPG] ASC,
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieuTT]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuTT](
	[SOPTT] [int] IDENTITY(1,1 )NOT NULL,
	[MSMH] [int] NOT NULL,
	[SoLuongBan] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_CTPhieuTT_1] PRIMARY KEY CLUSTERED 
(
	[SOPTT] ASC,
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuaHang](
	[MSCH] [int] IDENTITY(1,1) NOT NULL,
	[TenCH] [nvarchar](50) NOT NULL,
	[MSLH] [int] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NvPhuTrach] [int] NULL,
	[SDT] [char](12) NULL,
 CONSTRAINT [PK_CuaHang] PRIMARY KEY CLUSTERED 
(
	[MSCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MSKH] [int] NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[TaiKhoang] [char](10) NULL,
	[MatKhau] [char](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MSKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MSLH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MSLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MSMH] [int] IDENTITY(1,1) NOT NULL,
	[MSLH] [int] NULL,
	[TenHang] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[NgayCapNhat] [date] NULL,
 CONSTRAINT [PK_MatHang] PRIMARY KEY CLUSTERED 
(
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NVPhuTrach]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NVPhuTrach](
	[MSNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Phai] [nvarchar](50) NULL,
	[NamSinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](12) NULL,
	[TaiKhoan] [char](10) NOT NULL,
	[MatKhau] [char](10) NOT NULL,
 CONSTRAINT [PK_NVPhuTrach] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NVThanhToan]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NVThanhToan](
	[MSNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Phai] [nvarchar](50) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](12) NOT NULL,
	[TaiKhoan] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NVThanhToan] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuGiaoHang]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiaoHang](
	[SOPG] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapPhieu] [date] NULL,
	[MSCH] [int] NULL,
	[MSNV] [int] NULL,
	[TongCong] [float] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuGiaoHang] PRIMARY KEY CLUSTERED 
(
	[SOPG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuThanhToan]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhToan](
	[SOPTT] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapPhieu] [date] NOT NULL,
	[MSCH] [int] NOT NULL,
	[MSVN] [int] NOT NULL,
	[TongCong] [float] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuThanhToan] PRIMARY KEY CLUSTERED 
(
	[SOPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 5/22/2018 9:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[NgayThang] [date] NOT NULL,
	[MSMH] [int] NOT NULL,
	[SoLuongDau] [int] NULL,
	[SoLuongCuoi] [int] NULL,
	[TongSoLuong] [int] NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[NgayThang] ASC,
	[MSMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CuaHang] ON 

INSERT [dbo].[CuaHang] ([MSCH], [TenCH], [MSLH], [DiaChi], [NvPhuTrach], [SDT]) VALUES (2, N'Cửa Hàng Sữa', 2, N'2 Khánh Hội, Q.4, TP.HCM', 2, N'028 7654321 ')
INSERT [dbo].[CuaHang] ([MSCH], [TenCH], [MSLH], [DiaChi], [NvPhuTrach], [SDT]) VALUES (3, N'Cửa Hàng Gia Vị', 3, N'3 Pasteur, Q.1, TP.HCM', 3, N'028 9090909 ')
INSERT [dbo].[CuaHang] ([MSCH], [TenCH], [MSLH], [DiaChi], [NvPhuTrach], [SDT]) VALUES (4, N'Cửa Hàng Đồ Dùng Cá Nhân', 4, N'4 CMT8, Q.3, TP.HCM', 4, N'028 1233214 ')
SET IDENTITY_INSERT [dbo].[CuaHang] OFF
INSERT [dbo].[KhachHang] ([MSKH], [TenKH], [TaiKhoang], [MatKhau]) VALUES (1, N'Tram', N'tram      ', N'123       ')
INSERT [dbo].[KhachHang] ([MSKH], [TenKH], [TaiKhoang], [MatKhau]) VALUES (2, N'Huy', N'huy       ', N'123       ')
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([MSLH], [TenLoaiHang], [HinhAnh]) VALUES (1, N'Đồ Uống', N'DoUong.jpg')
INSERT [dbo].[LoaiHang] ([MSLH], [TenLoaiHang], [HinhAnh]) VALUES (2, N'Sữa', N'Sua.jpg')
INSERT [dbo].[LoaiHang] ([MSLH], [TenLoaiHang], [HinhAnh]) VALUES (3, N'Gia Vị Nấu Ăn', N'GiaViNauAn.jpg')
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
SET IDENTITY_INSERT [dbo].[MatHang] ON 

INSERT [dbo].[MatHang] ([MSMH], [MSLH], [TenHang], [SoLuong], [TrangThai], [DonGia], [HinhAnh], [NgayCapNhat]) VALUES (1, 1, N'Cocacola', 10, N'Còn Hàng', 10000, N'Coca.jpg', CAST(N'2018-04-01' AS Date))
INSERT [dbo].[MatHang] ([MSMH], [MSLH], [TenHang], [SoLuong], [TrangThai], [DonGia], [HinhAnh], [NgayCapNhat]) VALUES (2, 2, N'Dutch Lady', 10, N'Còn Hàng', 10000, N'Dutch Lady.jpg', CAST(N'2018-04-02' AS Date))
INSERT [dbo].[MatHang] ([MSMH], [MSLH], [TenHang], [SoLuong], [TrangThai], [DonGia], [HinhAnh], [NgayCapNhat]) VALUES (3, 2, N'Nestle', 10, N'Còn Hàng', 10000, N'Nestle.jpg', CAST(N'2018-04-03' AS Date))
SET IDENTITY_INSERT [dbo].[MatHang] OFF
SET IDENTITY_INSERT [dbo].[NVPhuTrach] ON 

INSERT [dbo].[NVPhuTrach] ([MSNV], [HoTen], [Phai], [NamSinh], [DiaChi], [SDT], [TaiKhoan], [MatKhau]) VALUES (1, N'Cao Ngọc Hương', N'Nữ', CAST(N'1997-01-01' AS Date), N'1 Lê Đình Cẩn, Q.Bình Tân, TP.HCM', N'0903 111 222', N'cnh       ', N'123       ')
INSERT [dbo].[NVPhuTrach] ([MSNV], [HoTen], [Phai], [NamSinh], [DiaChi], [SDT], [TaiKhoan], [MatKhau]) VALUES (2, N'Lê Ngọc Anh', N'Nữ', CAST(N'1997-01-02' AS Date), N'2 Võ Văn Kiệt, Q.5, TP.HCM', N'0923 909 555', N'lna       ', N'123       ')
INSERT [dbo].[NVPhuTrach] ([MSNV], [HoTen], [Phai], [NamSinh], [DiaChi], [SDT], [TaiKhoan], [MatKhau]) VALUES (3, N'Đặng Đào Thanh Nhàn', N'Nữ', CAST(N'1997-01-03' AS Date), N'3 Nguyễn Văn Cừ, Q.1,TP.HCM', N'0913 678 678', N'ddtn      ', N'123       ')
SET IDENTITY_INSERT [dbo].[NVPhuTrach] OFF
SET IDENTITY_INSERT [dbo].[NVThanhToan] ON 

INSERT [dbo].[NVThanhToan] ([MSNV], [HoTen], [Phai], [NamSinh], [DiaChi], [SDT], [TaiKhoan], [MatKhau]) VALUES (1, N'tram', N'nu', CAST(N'1997-01-01' AS Date), N'aa', N'09191       ', N'nnt       ', N'123       ')
SET IDENTITY_INSERT [dbo].[NVThanhToan] OFF
SET IDENTITY_INSERT [dbo].[PhieuGiaoHang] ON 

INSERT [dbo].[PhieuGiaoHang] ([SOPG], [NgayLapPhieu], [MSCH], [MSNV], [TongCong], [TrangThai]) VALUES (1, CAST(N'2018-05-22' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhieuGiaoHang] OFF
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_MatHang] FOREIGN KEY([MSMH])
REFERENCES [dbo].[MatHang] ([MSMH])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_MatHang]
GO
ALTER TABLE [dbo].[CTPhieuGH]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuGH_MatHang] FOREIGN KEY([MSMH])
REFERENCES [dbo].[MatHang] ([MSMH])
GO
ALTER TABLE [dbo].[CTPhieuGH] CHECK CONSTRAINT [FK_CTPhieuGH_MatHang]
GO
ALTER TABLE [dbo].[CTPhieuGH]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuGH_PhieuGiaoHang] FOREIGN KEY([SOPG])
REFERENCES [dbo].[PhieuGiaoHang] ([SOPG])
GO
ALTER TABLE [dbo].[CTPhieuGH] CHECK CONSTRAINT [FK_CTPhieuGH_PhieuGiaoHang]
GO
ALTER TABLE [dbo].[CTPhieuTT]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuTT_MatHang] FOREIGN KEY([MSMH])
REFERENCES [dbo].[MatHang] ([MSMH])
GO
ALTER TABLE [dbo].[CTPhieuTT] CHECK CONSTRAINT [FK_CTPhieuTT_MatHang]
GO
ALTER TABLE [dbo].[CTPhieuTT]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuTT_PhieuThanhToan] FOREIGN KEY([SOPTT])
REFERENCES [dbo].[PhieuThanhToan] ([SOPTT])
GO
ALTER TABLE [dbo].[CTPhieuTT] CHECK CONSTRAINT [FK_CTPhieuTT_PhieuThanhToan]
GO
ALTER TABLE [dbo].[CuaHang]  WITH CHECK ADD  CONSTRAINT [FK_CuaHang_LoaiHang] FOREIGN KEY([MSLH])
REFERENCES [dbo].[LoaiHang] ([MSLH])
GO
ALTER TABLE [dbo].[CuaHang] CHECK CONSTRAINT [FK_CuaHang_LoaiHang]
GO
ALTER TABLE [dbo].[CuaHang]  WITH CHECK ADD  CONSTRAINT [FK_CuaHang_NVPhuTrach] FOREIGN KEY([NvPhuTrach])
REFERENCES [dbo].[NVPhuTrach] ([MSNV])
GO
ALTER TABLE [dbo].[CuaHang] CHECK CONSTRAINT [FK_CuaHang_NVPhuTrach]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiHang] FOREIGN KEY([MSLH])
REFERENCES [dbo].[LoaiHang] ([MSLH])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiHang]
GO
ALTER TABLE [dbo].[PhieuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThanhToan_NVThanhToan] FOREIGN KEY([MSVN])
REFERENCES [dbo].[NVThanhToan] ([MSNV])
GO
ALTER TABLE [dbo].[PhieuThanhToan] CHECK CONSTRAINT [FK_PhieuThanhToan_NVThanhToan]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_MatHang] FOREIGN KEY([MSMH])
REFERENCES [dbo].[MatHang] ([MSMH])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_MatHang]
GO
USE [master]
GO


USE [master]
Use QLCTyBH
select mh.MSMH, mh.TenHang, mh.DonGia, mh.SoLuong, mh.HinhAnh, mh.NgayCapNhat, mh.TrangThai
from NVPhuTrach nv, CuaHang ch, MatHang mh, LoaiHang lh
where nv.MSNV = ch.NvPhuTrach and ch.MSLH = lh.MSLH and lh.MSLH = mh.MSLH; 
